<Script>
    const articulos = {
        codigo: 1,
        nomArticulo: "Auriculares",
        Descripcion: "Buen sonido",
        marca: "colmi",
        cantidad: 2,
        Precio: 5000,
        estado: "En venta",
        imprimirinfo: function () {
            return console.log(` codigo: ${this.codigo} nomArticulo: ${this.nomArticulo} Descripcion: ${this.Descripcion} marca: ${this.marca} cantidad: ${this.cantidad} precio: ${this.Precio} estado: ${this.estado}`)
        },

    }
    articulos.imprimirinfo()
</Script>